@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body{
    background: #24272E;
}
header{
    background: white;
    padding: 20px;
}
header > h1{
    color: #24272E;
    text-align: center;
    font-family: Asap, sans-serif;
}
.scoreboard{
    width: 200px;
    border-radius: 4px;
    border: 3px solid white;
    margin: 20px auto;
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 15px 20px;
    position: relative;
}

.badge{
    background: brown;
    font-size: 14px;
    padding: 2px 10px;
}

#user-label{
    position: absolute;
    top: 30px;
    left: -25px;
}

#computer-label{
    position: absolute;
    top: 30px;
    right: -30px;
}

.result{
    font-size: 40px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: Asap,sans-serif;
}

.choices{
    text-align: center;
    margin-top: 50px;
}

.choice{
    border: 4px solid white;
    margin: 0 20px;
    display: inline-block;
    
}

.choice:hover{
    cursor: pointer;
    background: bisque;
}

#action-message{
    text-align: center;
    color: white;
    font-family: Asap,sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}























